#container{
  display: flex;
  justify-content: space-evenly;
  top:3.8rem;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}
  .add-button {
    margin-top: 50px;
    background-color:#29a143;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button:hover {
   opacity: 50%;
  }

  #status-container{
    height: 100px;

  }
  .menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
    justify-content: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  

  #content {
   
    margin-top: 50px; 
  }