#container{
  display: flex;
  justify-content: space-evenly;
  top:3.8rem;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}
  .add-button {
    margin-top: 50px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }

  #status-container{
    height: 100px;

  }